html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Theme Gallery for turtle-cv
    style
      include index.css

  body
    ul#themes
      each theme in themes
        li(data-html=theme.html)=theme.name

    iframe#preview

    script
      include index.js
