:root {
  --background: hsl(26, 10%, 11%);
  --text-color: hsl(26, 10%, 85%);
  --theme-color: hsl(26, 100%, 50%);
  --light-color: hsl(26, 10%, 30%);
  --anchor-color: hsl(26, 100%, 75%);
}
.work ul.keywords > li {
  color: hsl(26, 20%, 70%);
  background-color: hsl(26, 20%, 20%);
}
