-
  var text = {
    en: {
      to: 'to',
      since: 'Since',
      work: 'Work History',
      education: 'Education',
      awards: 'Awards',
      publications: 'Publications',
      skills: 'Skills',
      languages: 'Languages',
    },
    de: {
      to: 'bis',
      since: 'Seit',
      work: 'Beruflicher Werdegang',
      education: 'Ausbildung',
      awards: 'Auszeichnungen',
      publications: 'Publikationen',
      skills: 'Erfahrung',
      languages: 'Sprachen',
    }
  }[language];
