@import url('https://fonts.googleapis.com/css?family=Exo+2:200|Merriweather:300,500');

:root {
  --background: white;
  --text-color: black;
  --theme-color: hsl(26, 100%, 50%);
  --light-color: #999;
  --anchor-color: hsl(26, 100%, 25%);
  --small-font: 0.8em;
  --weight-bold: 500;
}

html {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 5vh 10vw;
  background: var(--background);
  color: var(--text-color);
}

body {
  max-width: 800px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1.2em 0;
}

i {
  margin-right: 0.4em;
}

h1 {
  margin: 0.4em 0;
  font-size: 2.4em;
}
h2 {
  margin: 2em 0 1.2em;
  font-size: 1.6em;
}
h1,
h2 {
  color: var(--theme-color);
  text-transform: uppercase;
  font-weight: 200;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.1em;
}

a {
  text-decoration: none;
  color: var(--anchor-color);
}
a:hover {
  color: var(--theme-color);
}

p {
  margin: 0.5em 0;
}

ul {
  padding-left: 25px;
  margin: 0.4em 0;
}
li p {
  margin: 0;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Common
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.item {
  margin: 2.4em 0;
}
.date,
.dates {
  color: var(--light-color);
}
.item {
  font-size: 0.8em;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Profile
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.profile .label {
  margin: 0.2em 0;
  text-transform: uppercase;
  color: var(--light-color);
}
.profile .summary {
  text-align: justify;
  margin: 2.2em 0;
  font-size: var(--small-font);
}
.profile .details {
  margin: 1.8em 0;
  font-size: var(--small-font);
}
.profile .details > * {
  margin: 0.2em 0;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Social
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.social {
  margin: 1.2rem 0;
  font-size: 3em;
}
.social i {
  color: var(--light-color);
  transition: all 0.4s ease;
}
.social i:hover {
  color: var(--theme-color);
  transform: scale(1.2);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Work
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.work .highlights {
  margin: 0.4em 0 0 0;
}
.work ul.keywords {
  list-style: none;
  margin: 0.3em 0 0.8em;
  padding: 0;
}
.work ul.keywords > li {
  display: inline;
  color: hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 92%);
  border-radius: 5px;
  margin: 0.2em;
  padding: 0.3em 0.7em;
  font-size: 0.8em;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Other sections
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.work .company,
.education .institution,
.awards .name,
.publications .title,
.skills .name,
.languages .name {
  font-size: 1rem;
  font-weight: var(--weight-bold);
  margin: 0.4em 0;
}
.skills .level {
  color: var(--light-color);
}
.languages li {
  margin-bottom: 0.4em;
}
.languages .level {
  font-size: var(--small-font);
  color: var(--light-color);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Print
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

@page {
  margin: 2cm;
}

@media print {
  html {
    margin: 0;
    padding: 0;
    font-size: 0.4cm;
  }
  body {
    max-width: initial;
  }
  .social {
    display: none;
  }
  .work,
  .work item,
  .education,
  .awards,
  .publications,
  .skills,
  .languages {
    page-break-inside: avoid;
  }
}
